.container {
    margin-top: 200px;
    padding: 0 3%;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
}

.description {
    width: 50%;
}

.author {
    width: 50%;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.describe {
    padding-right: 14px;
}

.head h1 {
    font-size: 28px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 22px;
    line-height: 28px;
}

section {
    scroll-margin-top: 160px;
}

.title {
    font-size: 36px;
    text-align: center;
}

.paragraph {
    font-size: 22px;
    line-height: 32px;
    text-align: justify;
}

hr {
    color: rgb(201, 201, 201);
}

@media (max-width: 1020px) {
    .container {
        margin-top: 100px;
    }

    .head h1 {
        font-size: 26px;
    }

    ul {
        font-size: 20px;
        line-height: 28px;
    }

    .title {
        font-size: 32px;
    }

    .paragraph {
        font-size: 20px;
        line-height: 28px;
    }

    section {
        scroll-margin-top: 80px;
    }
}

@media (max-width: 766px) {
    .head {
        display: flex;
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .author {
        width: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {

    .description {
        margin-right: 0;
    }

    .author {
        margin-right: 0;
        flex-direction: column;
    }

    .head h1 {
        font-size: 24px;
    }

    ul {
        font-size: 18px;
    }

    .title {
        font-size: 28px;
    }

    .paragraph {
        font-size: 18px;
        line-height: 22px;
    }

}